* {
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    text-align: right;
    justify-content: space-around;
    background-color: #751616;
    align-items: center;
}
header div p {
    margin-bottom: 20%;
}

nav {
    display: flex;
    text-align: center;
    background-color: #751616;
    justify-content: center;
    gap: 50px;
}


.main ul li {
    display: flex;
    padding: 20%;
    border: 1px;
    border-radius: 1%;
}